

<table class="table table-dark">
  <tr>
    <td>
        Id: 
    </td>
    <td>
      {{product.id}}
    </td>
  </tr>
  <tr>
    <td>
        Title: 
    </td>
    <td>
      {{product.title}}
    </td>
  </tr>
  <tr>
    <td>
        Price: 
    </td>
    <td>
      {{product.price}}
    </td>
  </tr>
  <tr>
    <td>
        In Stock: 
    </td>
    <td>
      {{product.inStock}}
    </td>
  </tr>
  <tr>
    <td>

        Expiry Date: 
    </td>
    <td>
      {{product.expirydate}}
    </td>
  </tr>
  <tr>
    <td>
        color: 
    </td>
    <td>
      {{product.color}}
    </td>
  </tr>
  <tr>
    <td>
        Manufacturing Year: 
    </td>
    <td>
      {{product.manufacturingyear}}
    </td>
  </tr>
  <tr>

     <td>
        Counry Made: 
    </td>
    <td>
      {{product.counrymade}}
    </td>
  </tr>
</table>
<button class="btn btn-lg btn-danger" (click)='close()'>Close </button>